@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.card {
    @apply bg-white shadow rounded-lg p-6;
}